In [1]:
#import required libraries
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# set custom date parser
custom_date_parser = lambda x: datetime.strptime(x, "%d/%m/%y")

#import sales_data csv file as 'data' data frame with 'Month' column as index column and parsing dates present in 'Month' column
data=pd.read_csv("sales_data.csv",parse_dates=['Month'],date_parser=custom_date_parser,index_col='Month')

In [3]:
#see top 5 rows
data.head()

           Store  Sales
Month
2019-01-01     A    100
2019-02-01     A    300
2019-03-01     A    500
2019-01-01     B     50
2019-02-01     B    300

In [4]:
#find shape of data 
data.shape

(12, 2)

In [5]:
# Check data types and null values
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2019-01-01 to 2019-03-01
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   12 non-null     object
 1   Sales   12 non-null     int64
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

## Question 1)Write a Code to extract the maximum sales in 
## each month along with the store which had maximum sales.
## In case of a tie in a given, retain all stores with maximum sales

In [6]:
# Create data2 data frame by grouping month and finding sales max value of each 'Month' group of 'data'
data2=pd.DataFrame(data.groupby(data.index)['Sales'].max())

# Merge 'data' and 'data2' on 'sales' and 'Month' coulmns then sort them by 'Sales' values to create data frame 'Max_sales_data' 
Max_sales_data = pd.merge(data2,data, on=['Sales','Month']).sort_values("Sales")
# rename columns as 'Max_Sales' and 'Store_max'
Max_sales_data.columns=['Max_Sales','Store_max']

# print dataframe Max_sales_data
print(Max_sales_data)

            Max_Sales Store_max
Month
2019-01-01        200         C
2019-02-01        300         A
2019-02-01        300         B
2019-03-01        500         A

## Question2) Using the same dataset as earlier

## Print the Numbers of stores with Sales greater than 100 in each month

In [7]:
#store data with sales value greater than 100 in df
df=data[data['Sales']>100]
#create StoreCount by grouping the data by 'month' index column with their count of store (in each group)  
StoreCount=pd.DataFrame(df.groupby(df.index)['Store'].count())
#rename the 'Store' coulmn as 'Sales_gt_100'
StoreCount.columns=['Sales_gt_100']

#print dataframe 'StoreCount'
print(StoreCount)

            Sales_gt_100
Month
2019-01-01             2
2019-02-01             3
2019-03-01             2

## Question3) In the Overall Data bucket sales into three buckets(irrespective of month)

## and summarize

In [8]:
# copy 'data' in df 'dataframe'
df=data.copy()
# create a coulmn 'Sales_bucket by giving the labels based on the 'Sales' value of that row using 'cut' function
df['Sales_bucket']=pd.cut(df['Sales'],bins=[0,151,299,np.inf],labels=['A.0-150','B.151-299','C.ge 300'])

# Group by 'Sales_bucket' and store 'Store' count of each group in 'Sales_bucket'
Sales_bucket=pd.DataFrame(df.groupby('Sales_bucket')['Store'].count())
#rename the 'Store' coulmn as 'Count_Stores'
Sales_bucket.columns=['Count_Stores']

#print 'Sales_bucket' dataframe
print(Sales_bucket)

              Count_Stores
Sales_bucket
A.0-150                  6
B.151-299                3
C.ge 300                 3

## For each store comment whether sales are monotonically increasing month on month for each store

## Monotonically increasing is defined as
## Sales(01/03/19)> Sales(01/02/19)>Sales(01/01/19)

In [9]:
#group by store and check whether the sales in that group monotonic_increasing using 'is_monotonic_increasing'
df=pd.DataFrame(data.groupby('Store')['Sales'].apply(lambda x: x.is_monotonic_increasing))
#rename the column as 'Mono_flag'
df.columns=['Mono_flag']

#convert the boolean 'True','False' to 0,1 integers.
df['Mono_flag']=df['Mono_flag'].astype(int)

# print df dataframe
print(df)

       Mono_flag
Store
A              1
B              0
C              0
D              0